@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Variables */
:root { 
  /* back ground colors */
  --bg-base: #060b20;
  --bg-card: #172b49;
  --bg-card-inner: #183a70;

  /* Text colors */
  --color-text: #f1f5f9;
  --color-text-muted: #b2bdcf;

  /* Fonts */
  --fallback: sans-serif;
  --hfont: "Poppins", var(--fallback);
  --pfont: "Inter", var(--fallback);

  /* Border colors */
  --border-strong: #38bdf8;
  --border-subtle: rgba(148, 163, 184, var(--op-suble));;

  /* Shadows */
  --shadow-card: 10px 20px 30px rgba(90, 90, 90, 0.3);
  --shadow-soft: 0 10px 28px rgba(0, 0, 0, 0.35);
  --shadow-focus: 2px 6px 10px rgba(56, 189, 248, 0.45);
  --shadow-inset: inset 0 0 0 1px rgba(255, 255, 255, 0.04);

  /* Units for spacing and sizes*/
  --border-small: 1px;
  --border-medium: 2px;
  --border-large: 4px;
  --radius: 0.5rem;
  --half: 0.5rem;
  --normal: 1rem;
  --plushalf: 1.5rem;
  --double: 2rem;
  --quad: 4rem;
  --touch-target: 44px;
  --op-light: 0.1;
  --op-suble: 0.25;
  --op-med: 0.5;
  --op-dark: 0.9;
}

/* Normalization */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--pfont);
  color: var(--color-text);
  background-color: var(--bg-base);
  font-size: 16px;
}

main {
  gap: var(--double);
  padding: var(--normal);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--color-text);
  text-align: center;
  @media only screen and (min-width: 38em) {
    text-align: left;
  }
  
}

a {
  color: var(--color-text-muted);
  text-decoration: none;
}

::backdrop{
    background-color: rgba(21, 21, 21, .7);
}

dialog{
  margin: auto auto;
  color: var(--color-text);
  border: var(--border-medium) solid var(--border-strong);
  border-radius: var(--radius);
  max-width: 900px;
  scrollbar-width: thin;
  scrollbar-color: var(--border-strong) var(--bg-card-inner);
  & ul{
    list-style: none;
  }
}



dialog #close{
  font-size: var(--normal);
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--touch-target);
  z-index: 10;
}



/* Custom classes */
.flex-column {
  display: flex;
  flex-direction: column;
  gap: var(--half);
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: var(--half);
}

.flex{
  display: flex;
}

.grid {
  display: grid;
  gap: var(--half);
}

.center {
  text-align: center;
}

.indent {
  text-indent: 1rem;
}

/* Content Decoration */

.card{
  border: var(--border-small) solid  var(--border-subtle);
  padding: var(--half);
  background-color: var(--bg-card);
  box-shadow: var(--shadow-card);
  border-radius: var(--radius);
  transition: 
    border-color 0.3s ease-in-out
    box-shadow 0.3s ease-in-out;

  &:hover{
    border-color: var(--border-strong);
    box-shadow: var(--shadow-focus);
  }
}


/* Grid areas */

/* Footer */
footer {
  padding-bottom: 2rem;
  text-align: center;
  justify-content: center;
  padding: var(--normal);
}
